<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>สถานะครุภัณฑ์</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <!-- <link rel="stylesheet" href="landingpage.css"> -->
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

    <!-- button in table -->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

















</head>
<style>
    .dot1 {
        height: 10px;
        width: 10px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block;
    }

    .dot2 {
        height: 10px;
        width: 10px;
        background-color: lightseagreen;
        border-radius: 50%;
        display: inline-block;
    }

    .dot3 {
        height: 10px;
        width: 10px;
        background-color: yellow;
        border-radius: 50%;
        display: inline-block;
    }

    #Qrcode,
    #barcode,
    #save {
        width: 130px;
    }

    #years {
        width: 90px;
        height: 35px;
    }

    .modal-header,
    h3 {
        background-color: red;
        color: white;
    }

    #log {
        width: 100px;
    }

    #insert,
    #Export {
        width: 100px;
        height: 35px;
    }

    /* .buttons-excel {
        background-color: blue;
        color: white;
    }

    .buttons-pdf {
        background: #d10909;
    }

    .buttons-print {
        background: #1167d3;
    } */
</style>






<body>
    <!-- ============================================================== -->
    <!-- <input type="checkbox" name="" id="aaa">asdfa -->
    <!-- Header -->
    <div>
        <div class="row">
            <div class="col-11">
                <img src="../img/banner.png" alt="LOGO" style="width: 450px;">
            </div>
            <div class="col-1">
                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img src="../img/account.png" id="log"
                        class="user-avatar-md rounded-circle"></a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                    aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <p class="mb-0 text-dark nav-user-name text-center"> ธิดาพร​ ชาวคูเวียง</p>

                    </div>

                    <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                </div>
                </li>

            </div>
        </div>

    </div>
    <!-- Header -->

    <!-- Menu -->
    <div>

        <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #fe0000;">
            <a class="navbar-brand ml-5" href="#"></a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active ml-5">
                        <a class="nav-link text-light" href="/adminfirstpage">หน้าแรก</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a href="/productstatusadmin" class="btn btn-rounded btn-light  ">สถานะครุภัณฑ์</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light " href="/assignCommittee">คณะกรรมการประจำปี</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light " href="/assignCheckingDate">เวลาการตรวจสอบครุภัณฑ์</a>
                    </li>



                </ul>
            </div>
        </nav>
    </div>


    <div class="row">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:20px 40px;">
                        <h3><span class="glyphicon glyphicon-lock"></span> นำเข้าข้อมูล</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="padding:25px 50px;">
                        <form enctype="multipart/form-data">
                            <div>

                                <input type="file" name="fileUpload" id="">

                            </div>
                            <br>
                            <div>
                                <button class="btn btn-primary" id="upexcel" type="submit">
                                    บันทึก</button>
                                <button class="btn btn-danger "><span
                                        class="glyphicon glyphicon-off "></span>ยกเลิก</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- <div class="container-fluid text-right">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-1 my-4" style="text-align: right;">

            </div>
            <div class="col-md-1 " style="text-align: right;">
                <button id="insert" class="btn btn-danger "> นำเข้าข้อมูล</button>
            </div>
        </div>
    </div> -->

    <!-- <div class="container-fluid text-center mt-2">
        <table class="table  mt-2" id="mytable" style="width:100%">
            <thead>
                <tr>
                    <th>product_year</th>
                    <th>ลำดับ</th>
                    <th>เลือกทั้งหมด</th>
                    <th>รูปถ่าย</th>
                    <th>ถ่ายรูป</th>
                    <th>รหัสผลิตภัณฑ์</th>
                    <th>คำอธิบาย</th>
                    <th>ยี่ห้อ</th>
                    <th>สถานที่</th>
                    <th>ผู้ตรวจสอบ</th>
                    <th>สถานะครุภัณฑ์</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="row">
        <div class="col-12">
            <button id="Qrcode" class="btn btn-primary float-right mb-2 mt-3 mr-2 ">สร้าง
                QR-CODE</button>
            <button id="barcode" class="btn btn-primary float-right mb-2 mt-3 mr-3"> สร้างบาร์โค้ด
            </button>
            <button id="save" class="btn btn-primary float-right mb-2 mt-3 mr-3"> บันทึก
            </button>


        </div>


    </div> -->


    <div class="row">
        <div class="col-sm-12 mt-3">
            <!-- <p align="right">
            <button id="insert" class="btn btn-danger "> นำเข้าข้อมูล</button>
        </p> -->
            <div class="card">
                <!-- <div class="card-header"><span style="font-size: 30px;"></strong>ข้อมูลครุภัณฑ์​ ประจำปี​ 2563</strong></span> 
                <p align="right">
                    <input type="button" id="insert" class="btn btn-danger" value="นำเข้าข้อมูล">
                </p>
            </div> -->
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>ข้อมูลครุภัณฑ์​ ประจำปี​ </h2>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-1 mt-2" style="text-align: right;">
                            <!-- <input type="button" id="Export" class="btn btn-primary" value="Excel"> -->
                        </div>
                        <div class="col-md-1 mt-2" style="text-align: right;">
                            <input type="button" id="insert" class="btn btn-danger" value="นำเข้าข้อมูล">
                        </div>
                    </div>
                </div>
                <!-- <button id="Export" style="width:5%" class="btn btn-primary float-right mb-2 mt-3 mr-3">Excel</button>  -->
                <p align="right" class="mt-4 mr-3">
                    <select id="years" class="form-control">
                    </select>
                </p>

                <div class="container-fluid text-center">
                    <!--Table-->
                    <table class="table mt-2" id="mytable" style="width:100%">
                        <thead>
                            <tr>
                                <th>product_year</th>
                                <th>ลำดับ</th>
                                <th>เลือกทั้งหมด</th>
                                <th>รูปถ่าย</th>
                                <th>ถ่ายรูป</th>
                                <th>รหัสผลิตภัณฑ์</th>
                                <th>คำอธิบาย</th>
                                <th>ยี่ห้อ</th>
                                <th>สถานที่</th>
                                <th>ผู้ตรวจสอบ</th>
                                <th>สถานะครุภัณฑ์</th>
                            </tr>
                        </thead>
                    </table>
                </div>


                <div class="row">
                    <div class="col-12">

                        <button id="Qrcode" class="btn btn-primary float-right mb-2 mt-3 mr-2 ">สร้าง
                            QR-CODE</button>
                        <button id="barcode" class="btn btn-primary float-right mb-2 mt-3 mr-3"> สร้างบาร์โค้ด
                        </button>
                        <button id="save" class="btn btn-primary float-right mb-2 mt-3 mr-3"> บันทึก
                        </button>

                    </div>
                </div>


            </div>
        </div>
    </div>


    <!-- </div>
    </div>
    </div>
    </div>
    </div> -->

    <!-- Footer -->
    <footer class="page-footer font-small blue " style="background-color: #fe0000;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2020 POWERSOL</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- ============================================================== -->
</body>

<script>
    var getyear
    var tableUser
    date = new Date();
    const year = date.getFullYear();

    $(document).ready(function () {

        $('#yearmodal').val(year);
        $('#yearmodal').prop('disabled', true);


        $('#years').change(function () {
            getyear = $('#years').val();
            // console.log(getyear)
            productadmin();
        });


        $("#insert").click(function () {
            $("#myModal").modal();


        });


        tableUser = $("#mytable").DataTable({
            // data: dataSet,
            // "searching": false,
            // "paging": false,
            "ordering": false,
            "info": false,
            "lengthChange": false,
            "pageLength": 100,
            deferRender: true,
            columns: [
                { data: "product_year", visible: false },
                { data: "No" },
                { defaultContent: '<input type="checkbox" id="checkall"> ', orderable: false },
                { data: "image" },
                {
                    data: "inventorynumber",

                    render: function (data, type, full) {
                        if (type === 'display') {             //if column data is 1 then set attr to checked, use row id as input id (plus prefix)
                            return '<input type="checkbox" ' + ((full.image_status == '1') ? 'checked' : '') + ' id="input' + full.inventorynumber + '" />';
                        }
                        return data;
                        // console.log(type+"54645645646")
                    }
                },
                { data: "inventorynumber" },
                { data: "description" },
                { data: "model" },
                { data: "locateroom" },
                { data: "committee" },
                { data: "product_status" }
            ],
            dom: 'Bfrtip',
            buttons: [
                // 'copyHtml5',
                'excelHtml5',
                // 'csvHtml5',
                'pdfHtml5',
                'print',
                // 'colvis'
            ],
            responsive: true
        });

        $('.buttons-excel, .buttons-print').each(function () {
            $(this).removeClass('btn-default').addClass('btn-primary')
        })


        $('form').submit(function () {
            // var file = "";
            const formData = new FormData(this);

            $.ajax({
                method: "POST",
                url: "/uploadfile",
                data: formData,
                contentType: false,
                processData: false
            }).done(function (dataSet, state, xhr) {
                // console.log(dataSet)
                window.location.replace(dataSet)
                // alert("aaa")

            }).fail(function (xhr, state, err) {
                console.log(err)
            })

        });


        dropdownyear();

        $("#Qrcode").click(function () {

            window.location.replace("qrcode.html");
        });



    });

    function dropdownyear() {

        $.ajax({
            method: "GET",
            url: "/years"
        }).done(function (dataSet, state, xhr) {

            $("#years").empty();
            $("#year").empty();
            for (let i = dataSet.length - 1; i >= 0; i--) {
                let id = dataSet[i].working_year;

                $("#years").append("<option value='" + id + "'>" + id + "</option>");
                console.log()


                // getyear = $('#years').val();
            }
            productadmin();
            console.log(dataSet)
        }).fail(function (xhr, state, error) {
            //get data failed
            alert(xhr.responseText);
        });
    }

    function productadmin() {

        getyear = $('#years').val();

        $.ajax({
            method: "GET",
            url: "/product/status/" + getyear
        }).done(function (dataSet, state, xhr) {

            for (let i = 0; i < dataSet.length; i++) {
                dataSet[i].No = i + 1;
                dataSet[i].locateroom = dataSet[i].location + "-" + dataSet[i].room

                // if (dataSet[i].image_status == 1) {
                //     $('input:checkbox').prop("checked", true)
                //     if ($('#4000000215').prop("checked") == true) {
                //         console.log("Checkbox is checked.");
                //     }
                //     console.log("gggg")
                // }

                if (dataSet[i].product_status == 0) {
                    dataSet[i].product_status = "สูญหาย"
                }
                else if (dataSet[i].product_status == 1) {
                    dataSet[i].product_status = "ปกติ"
                }
                else if (dataSet[i].product_status == 2) {
                    dataSet[i].product_status = "ส่งซ่อม"
                }
                else if (dataSet[i].product_status == 3) {
                    dataSet[i].product_status = "ไม่ระบุ"
                }

            }
            console.log(dataSet)
            //clear DataTable
            tableUser.clear();
            //display modified JSON in DataTable
            tableUser.rows.add(dataSet).draw();
            $('#input711000100142038').click(function () {
                //     if(this.checked){
                //     alert("ggg");
                // }
                alert("sdfsf")
            })
        }).fail(function (xhr, state, error) {
            //get data failed
            alert(xhr.responseText);
        });
    }


</script>

</html>