<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/localization/messages_th.min.js"></script>
    <!-- <link rel="stylesheet" href="landingpage.css"> -->
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script> -->

    <title>คณะกรรมการ</title>
    <style>
        #log {
            width: 100px;
        }

        #assign {
            width: 110px;
            height: 35px;
        }

        #years {
            height: 35px;
            width: 90px;
        }

        .errorMessage {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <!-- Header -->
    <div>
        <div class="row">
            <div class="col-11">
                <img src="../img/banner.png" alt="LOGO" style="width: 450px;">
            </div>
            <div class="col-1">

                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img src="../img/account.png"
                    id="imguser" class="user-avatar-md rounded-circle mt-3 ml-4" style="width: 50px;height: 50px;"></a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                    aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <p class="mb-0 text-dark nav-user-name text-center"><span id="NameUser">ธิดาพร​ ชาวคูเวียง</span></p>

                    </div>

                    <a class="dropdown-item" href="/auth/logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
                </div>
                </li>
            </div>
        </div>

    </div>
    <!-- Header -->

    <!-- Menu -->
    <div>

        <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #fe0000;">
            <a class="navbar-brand ml-5" href="#"></a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active ml-5">
                        <a href="/adminfirstpage" class="nav-link text-light  ">หน้าแรก</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="/productstatusadmin">สถานะครุภัณฑ์</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="btn btn-rounded btn-light" href="/assignCommittee">คณะกรรมการประจำปี</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light " href="/assignCheckingDate">เวลาการตรวจสอบครุภัณฑ์</a>
                    </li>



                </ul>
            </div>
        </nav>
    </div>

    <!-- Menu -->

    <!-- Add Commitee -->
    <!-- Modal -->
    <div class="modal fade" id="addcomModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">แต่งตั้งคณะกรรมการประจำปี <span id="yearmodal"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" id="setvalidation">
                        <!-- <p>ประจำปี <span id="yearmodal"></span></p> -->
                        <p>อีเมล์กรรมการ</p>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                            placeholder="ป้อนอีเมลล์" required>
                        <p align="right">
                            <span><button type="button" class="btn btn-secondary mt-4" data-dismiss="modal"
                                    style="width: 15%;">ปิด</button></span>
                            <button class="btn btn-primary mt-4" id="submitAdd">บันทึก</button>
                            <button class="btn btn-primary mt-4" id="submitUpdate">บันทึก</button>
                        </p>
                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div> -->
            </div>
        </div>
    </div>




    <!-- <div class="container-fluid text-right mt-4 ">
        <div class="row">
            <div class="col-md-4 ">
                <h2>คณะกรรมการตรวจนับครุภัณฑ์​</h2>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-1">
                <button id="assign" class="btn btn-danger" data-toggle="modal" data-target="#addcomModal"
                    style="background-color: #dc3545;">
                    เพิ่มกรรมการ
                </button>
            </div>
            <div class="col-md-1 ">
                <select id="years" class=" form-control">

                </select>
            </div>
        </div>
    </div>


    
    <div class="container-fluid text-center mt-3">
        
        <table class="table " id="mytable" style="width:100%">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ปี</th>
                    <th>อีเมล์กรรมการ</th>
                    <th>แก้ไขอีเมล์</th>
                </tr>
            </thead>
        </table>
    </div> -->

    <div class="row">
        <div class="col-sm-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>คณะกรรมการตรวจนับครุภัณฑ์ </h2>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-1 mt-2" style="text-align: right;">
                        </div>
                        <div class="col-md-1 mt-2" style="text-align: right;">
                            <input type="button" id="assign" class="btn btn-danger  " data-toggle="modal"
                                data-target="#addcomModal" style="background-color: #dc3545;" value="เพิ่มกรรมการ">
                        </div>
                    </div>
                </div>
                <p align="right" class="mt-4 mr-3">
                    <select id="years" class="form-control">
                    </select>
                </p>

                <div class="container-fluid text-center">
                    <!--Table-->
                    <table class="table mt-2" id="mytable" style="width:100%">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>ปี</th>
                                <th>อีเมล์กรรมการ</th>
                                <th>แก้ไขอีเมล์</th>
                            </tr>
                        </thead>
                    </table>
                </div>


            </div>
        </div>
    </div>



    <!-- Footer -->
    <footer class="page-footer font-small blue mt-5" style="background-color: #fe0000;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2020 POWERSOL</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>

<script>
    var tableUser;
    date = new Date();
    const year = date.getFullYear();
    var getyear
    // var selectedData

    $(document).ready(function () {

        //check login
        $.ajax({
            method: "GET",
            url: "/profile/userinfor"
        }).done(function (dataSet, state, xhr) {
            var email = dataSet.email;
            console.log(dataSet.name);
            console.log(dataSet.email);
            if (dataSet.name == undefined) {
                window.location.replace('/');
            } else {
                $.ajax({
                    type: "GET",
                    url: "/CheckRole/" + email
                }).done(function (data, state, xhr) {
                    console.log(data[0].role);
                    if (data[0].role == 1) {
                        $('#NameUser').html(dataSet.name)
                        $('#imguser').attr("src", "" + dataSet.photo + "");     
                    } else if (data[0].role == 0) {
                        window.location.replace("/committeeBiodata");
                    } else if (email == undefined) {
                        window.location.replace('/');
                    }
                }).fail(function (xhr, state, err) {
                    console.log(err);
                })
            }
            // window.location.replace('/committeefirstpage')

        }).fail(function (xhr, state, err) {
            // console.log(err)
        })


        $("#setvalidation").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            errorClass: "errorMessage"
        });


        $('#yearmodal').html(year);//set year assign is current year

        $('#years').change(function () {
            getyear = $('#years').val();
            console.log(getyear)
            getcommittee();
        });

        $('#assign').click(function () {
            $('#submitAdd').show();
            $('#submitUpdate').hide()

            $('#submitAdd').click(function () {
                const yrearassign = year
                const email = $('#email').val();
                if (email == "") {

                } else {

                    $.ajax({
                        method: "POST",
                        url: "/assign/committee",
                        data: { year: yrearassign, email: email }
                    }).done(function (dataSet, state, xhr) {
                        getcommittee();
                        // $("#exampleModalLong").modal(toggle)
                        console.log(dataSet)
                    }).fail(function (xhr, state, err) {
                        console.log(err)
                    })
                }
            });

        })



        tableUser = $("#mytable").DataTable({
            // data: dataSet,
            // "searching": false,
            // "paging": false,
            "ordering": false,
            "info": false,
            "lengthChange": false,
            deferRender: true,
            columns: [
                { data: "No" },
                { data: "working_year" },
                { data: "email" },
                {
                    data: "No",
                    render: function (data, type, full, meta) {
                        return data ? '<button class="btn btn-primary editMail"  id="' + full.No + '">แก้ไข</button>' : '';
                    }
                }
            ],
            responsive: true
        });

        dropdownyear()
    });

    function dropdownyear() { //get year

        $.ajax({
            method: "GET",
            url: "/years"
        }).done(function (dataSet, state, xhr) {

            $("#years").empty();
            $("#year").empty();
            for (let i = dataSet.length - 1; i >= 0; i--) {
                let id = dataSet[i].working_year;
                $("#years").append("<option value='" + id + "'>" + id + "</option>");
                console.log()


            }
            getcommittee();
            console.log(dataSet)
        }).fail(function (xhr, state, error) {
            //get data failed
            alert(xhr.responseText);
        });
    }

    function getcommittee() { //get data committee
        //get users from DB
        getyear = $('#years').val();
        $.ajax({
            method: "GET",
            url: "/committee/" + getyear
        }).done(function (dataSet, state, xhr) {

            for (let i = 0; i < dataSet.length; i++) {
                dataSet[i].No = i + 1;
                dataSet[i].yearemail = dataSet[i].working_year + dataSet[i].email
            }
            console.log(dataSet)
            //clear DataTable
            tableUser.clear();
            //display modified JSON in DataTable
            tableUser.rows.add(dataSet).draw();

            //editEmail
            $('#mytable tbody').on('click', '.editMail', function () {
                const currentRow = $(this).parents('tr')
                selectedData = tableUser.row(currentRow).data();
                $('#addcomModal').modal()
                $('#submitAdd').hide();
                $('#submitUpdate').show();
                let emailold = selectedData.email
                $('#email').val(selectedData.email)
                let yearTable = selectedData.working_year;
                // alert(emailold + " " + yearTable + " " + emailnew)

                $('#submitUpdate').click(function () {
                    let emailnew = $('#email').val();
                    // alert(emailold + " " + yearTable + " " + emailnew)
                    $.ajax({
                        method: "PUT",
                        url: "/update/committee",
                        data: { emailNew: emailnew, year: yearTable, emailOld: emailold }
                    }).done(function (dataSet, state, xhr) {
                    }).fail(function (xhr, sate, err) {
                        console.log(err)
                    })
                });
            });


        }).fail(function (xhr, state, error) {
            //get data failed
            alert(xhr.responseText);
        });
    }


</script>

</html>