<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <script text="script" src="barcode.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <title>การตรวจสอบและนับครุภัณฑ์ สำนักวิชาเทคโนโลยีสารสนเทศ</title>
    <!-- เรียกใช้งาน JsBarcode.all.js -->
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
</head>

<body>

    <div class="mt-2">
        <button type="button" class="btn btn-primary " id="btnprint" onclick="window.print()">Print</button>
    </div>
    
    <div class="container-fluid my-4">
        <div id="qrcode" class="my-4"></div>
    </div>
</body>

<script>
    // if (sessionStorage !== undefined) {
    //     let array = sessionStorage.dataArray;
    //     let data = JSON.parse(array)
    //     console.log(data[0])

    //     for (let i = 0; i < data.length; i++) {
    //         $("#barcode").append("<img class='my-4' id='aa" + [i] + "' ></img><br>")
    //     }

    //     for (let i = 0; i < data.length; i++) {
    //         JsBarcode("#aa" + [i] + "", + data[i], {
    //             height: 25
    //         });
    //     }

    // } 



    var k = 0;
    if (sessionStorage !== undefined) {
        let array = sessionStorage.dataArray;
        let data = JSON.parse(array)
        console.log(data[0])
        var k = 0;
        for (var i = 0; i < Math.ceil(data.length / 4); i++) {
            $("#qrcode").append("<div class='row my-3' id='aa" + [i] + "' ></div>")
            for (let j = 0; j < 4; j++) {
                if (k == data.length) {

                }
                else {
                    $("#aa" + [i] + "").append("<img class='col-md-3 col-sm-2 col-lg-3' id='bb" + [j] + "' ></img> ")

                    JsBarcode("#aa" + [i] + " #bb" + [j] + "", + data[k], {
                        height: 30
                    });
                    k++
                }

            }

        }

    }



</script>

</html>