<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <script text="script" src="barcode.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <title>Js Barcode Demo</title>
    <!-- เรียกใช้งาน JsBarcode.all.js -->
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
</head>

<body>
    <div>
        <div id="third">
            <div class="container-fluid my-4">
                <div id="barcode">
                    <!-- <div id="qrcode" class="my-4"></div> -->
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    if (sessionStorage !== undefined) {
        let array = sessionStorage.dataArray;
        let data = JSON.parse(array)
        console.log(data[0])

        for (let i = 0; i < data.length; i++) {
            $("#barcode").append("<img class='my-4' id='aa" + [i] + "' ></img><br>")
        }

        for (let i = 0; i < data.length; i++) {
            JsBarcode("#aa" + [i] + "", + data[i], {
                height: 25
            });
        }

    } 
</script>

</html>