<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>การตรวจสอบและนับครุภัณฑ์ สำนักวิชาเทคโนโลยีสารสนเทศ</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script text="script" src="qrcode.min.js"></script>
    <script text="script" src="barcode.min.js"></script>


    <!-- button in table -->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>



    <!-- check all -->
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css"
        rel="stylesheet" />
    <script type="text/javascript"
        src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css">






</head>
<style>
    .imgg:hover {
        transform: scale(4);
    }

    .dot1 {
        height: 10px;
        width: 10px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block;
    }

    .dot2 {
        height: 10px;
        width: 10px;
        background-color: lightseagreen;
        border-radius: 50%;
        display: inline-block;
    }

    .dot3 {
        height: 10px;
        width: 10px;
        background-color: yellow;
        border-radius: 50%;
        display: inline-block;
    }

    #Qrcode,
    #Barcode,
    #save {
        width: 107px;
        font-size: 14px;
    }

    #years {
        width: 90px;
        /* height: 35px; */
    }

    .modal-header,
    h3 {
        background-color: red;
        color: white;
    }

    #log {
        width: 100px;
    }

    #insert {
        width: 100px;
        height: 35px;
    }

    .nav-user {}

    .nav-user-dropdown {
        padding: 0px;
        min-width: 230px;
        margin: 0px;
    }

    .nav-user-name {}

    .nav-user-info {
        background-color: blue;
        line-height: 1.2;
        padding: 12px;
        color: #fff;
        font-size: 13px;
        border-radius: 2px 2px 0 0;
    }

    .nav-user-info .status {
        float: left;
        top: 7px;
        left: 0px;
    }

    .nav-user-dropdown {}

    .nav-user-dropdown .dropdown-item {
        display: block;
        width: 100%;
        padding: 12px 22px 15px;
        clear: both;
        font-weight: 400;
        color: #686972;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        font-size: 13px;
        line-height: 0.4;
    }

    .nav-user-dropdown .dropdown-item:hover {
        /* background-color: #f7f7fb; */
        color: blue;
    }

    .nav-user .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border: none;
    }

    .nav-user-dropdown {
        padding: 0px;
        margin: 0px;
        margin-top: 74px;

    }

    #page-container {
        position: relative;
        min-height: 100vh;
    }

    #content-wrap {
        padding-bottom: 2.5rem;
        /* Footer height */
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        /* Footer height */
    }
</style>

<body>

    <div id="page-container">
        <div id="content-wrap">

            <!-- Header -->
            <div class=" row">
                <div class="col-md-9">
                    <img src="../img/banner.png" alt="LOGO" style="width: 450px;">
                </div>
                <div class="col-md-3">

                    <!-- <li class="nav-item dropdown nav-user"> -->
                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="" id="imguser" alt=""
                            class="user-avatar-md rounded-circle mt-3 float-right "
                            style="width: 50px;height: 50px;"></a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                        aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                            <h6 class="mb-0 text-white nav-user-name " id="NameUser">John Abraham </h6>
                            <!-- <span class="ml-2">Available</span> -->

                        </div>
                        <a class="dropdown-item" href="/auth/logout">
                            <h6><i class="fas fa-power-off mr-2"></i>Logout</h6>
                        </a>
                    </div>
                    <!-- </li> -->

                </div>
            </div>
            <!-- Header -->
            <!-- Menu -->
            <div>
                <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #253b6d;">
                    <a class="navbar-brand ml-5" href="#"></a>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active ml-5">
                                <a href="/committeefirstpage" class="nav-link text-light">หน้าแรก</a>
                            </li>

                            <li class="nav-item ml-5">
                                <a class="btn btn-rounded btn-light " href="/committee_AssetStatus">สถานะครุภัณฑ์</a>
                            </li>
                            <li class="nav-item ml-5">
                                <a class=" nav-link text-light" href="/committeeBiodata">คณะกรรมการประจำปี</a>
                            </li>
                            <li class="nav-item ml-5">
                                <a class=" nav-link text-light "
                                    href="/periodOfCheckingAsset">เวลาการตรวจสอบครุภัณฑ์</a>
                            </li>


                        </ul>
                    </div>
                </nav>
            </div>

            <div class=" row">
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header" style="padding:20px 40px;">
                                <h3><span class="glyphicon glyphicon-lock"></span> นำเข้าข้อมูล</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body" style="padding:25px 50px;">
                                <form enctype="multipart/form-data">
                                    <div>

                                        <input type="file" name="fileUpload" id="">

                                    </div>
                                    <br>
                                    <div>
                                        <button class="btn btn-primary" id="upexcel" type="submit">
                                            บันทึก</button>
                                        <button class="btn btn-danger "><span
                                                class="glyphicon glyphicon-off "></span>ยกเลิก</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <!-- <div id="caption"></div> -->
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-sm-12 mt-3">
                        <!-- <p align="right">
            <button id="insert" class="btn btn-danger "> นำเข้าข้อมูล</button>
        </p> -->
                        <div class="card">
                            <!-- <div class="card-header"><span style="font-size: 30px;"></strong>ข้อมูลครุภัณฑ์​ ประจำปี​ 2563</strong></span> 
                <p align="right">
                    <input type="button" id="insert" class="btn btn-danger" value="นำเข้าข้อมูล">
                </p>
            </div> -->
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2>ข้อมูลครุภัณฑ์​ ประจำปี​ </h2>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-1 mt-2" style="text-align: right;">
                                        <!-- <input type="button" id="Export" class="btn btn-primary" value="Excel"> -->
                                    </div>
                                    <div class="col-md-1 mt-2" style="text-align: right;">

                                    </div>
                                </div>
                            </div>
                            <!-- <button id="Export" style="width:5%" class="btn btn-primary float-right mb-2 mt-3 mr-3">Excel</button>  -->
                            <div class="container-fluid mt-2 mb-4">
                                <!-- <div class="row">
                            <div class="col-md-12 mt-2">
                                <select id="years" class="form-control float-right">
                                </select>
                            </div>
                        </div> -->
                                <div class="row">
                                    <div class="col-md-10 mt-2">
                                        <!-- <div id="test"></div> -->
                                        <button id="Qrcode"
                                            class="btn btn-primary text-center">สร้างคิวอาร์โค้ด</button>
                                        <button id="Barcode" class="btn btn-primary text-center">สร้างบาร์โค้ด</button>
                                        <!-- <button id="save" type="submit"
                                    class="btn btn-primary text-center">บังคับถ่ายรูป</button> -->
                                    </div>

                                    <div class="col-md-2 mt-2">
                                        <!-- <p align="right" class="mt-4 mr-3"> -->
                                        <!-- <div class="container-fluid"> -->
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <!-- <button id="save" type="submit"
                                            class="btn btn-primary float-right ml-1 "
                                            style="width: 10%;">
                                            บังคับถ่ายรูป
                                        </button>
                                        <button id="Qrcode"  class="btn btn-primary float-right mb-2  mr-2 ">สร้างคิวอาร์โค้ด</button>
                                        <button id="Barcode" class="btn btn-primary float-right mb-2 mr-3"> สร้างบาร์โค้ด -->
                                                <select id="years" class="form-control float-right">
                                                </select>


                                            </div>
                                        </div>
                                        <!-- </div> -->

                                        <!-- </p> -->
                                    </div>

                                </div>

                            </div>

                            <!-- <form id="frm-example"> -->
                            <div class="container-fluid text-center">
                                <!--Table-->

                                <table class="table mt-2 " id="mytable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ลำดับ</th>
                                            <!-- <th>เลือกทั้งหมด</th> -->
                                            <th>รูปถ่าย</th>
                                            <th>ถ่ายรูป</th>
                                            <th>รหัสผลิตภัณฑ์</th>
                                            <th>คำอธิบาย</th>
                                            <th>ยี่ห้อ</th>
                                            <th>สถานที่</th>
                                            <th>ผู้ตรวจสอบ</th>
                                            <th>สถานะครุภัณฑ์</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>



                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Footer -->
    <div class="footer">


        <footer class=" page-footer font-small blue " style="background-color: #253b6d;">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-light">© 2020 POWERSOL</div>
            <!-- Copyright -->

        </footer>
    </div>

</body>

<script>
    var getyear
    var tableUser
    date = new Date();
    const year = date.getFullYear();

    $(document).ready(function () {

        $.ajax({
            method: "GET",
            url: "/profile/userinfor"
        }).done(function (dataSet, state, xhr) {
            var email = dataSet.email;
            console.log(dataSet.name);
            console.log(dataSet.email);
            if (dataSet.name == undefined) {
                window.location.replace('/');
            } else {
                $.ajax({
                    type: "GET",
                    url: "/CheckRole/" + email
                }).done(function (data, state, xhr) {
                    console.log(data[0].role);
                    if (data[0].role == 1) {
                        window.location.replace("/productstatusadmin");
                    } else if (data[0].role == 0) {
                        $('#NameUser').html(dataSet.name)
                        $('#imguser').attr("src", "" + dataSet.photo + "");
                    } else if (email == undefined) {
                        window.location.replace('/');
                    }
                }).fail(function (xhr, state, err) {
                    console.log(err);
                })
            }
            // window.location.replace('/committeefirstpage')

        }).fail(function (xhr, state, err) {
            // console.log(err)
        })

        $('#yearmodal').val(year);
        $('#yearmodal').prop('disabled', true);


        $('#years').change(function () {
            getyear = $('#years').val();
            // console.log(getyear)
            productadmin();
        });


        $("#insert").click(function () {
            $("#myModal").modal();


        });


        tableUser = $("#mytable").DataTable({
            // "ordering": false,
            // "info": false,
            // "lengthChange": false,
            // "pageLength": 100,
            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            'select': {
                'style': 'multi'
            },
            'order': [[1, 'asc']],
            deferRender: true,
            columns: [
                { data: "asset" },
                { data: "No" },
                {
                    data: "image",
                    render: function (data, type, full) {
                        if (type === 'display') {             //if column 
                            return '<img class="imgg" ' + ((full.image != null) ? 'src="../img/' + full.image + '"' : '') + 'style="width: 100%;"  alt=""> ';
                            // return '<input type="checkbox" ' + ((full.image_status == '1') ? 'checked' : '') + ' id="input' + full.image + '" />';
                        }
                        return data;
                    }
                },
                {
                    data: "asset",

                    render: function (data, type, full) {
                        if (type === 'display') {             //if column 
                            return '<span class="badge  "style="font-size: 14px;">' + ((full.image_status == '1') ? 'ถ่ายรูป' : 'ไม่ถ่ายรูป') + '</span>';
                        }
                        return data;
                    }
                },
                { data: "inventorynumber" },
                { data: "description" },
                { data: "model" },
                { data: "locateroom" },
                { data: "committee" },
                { data: "product_status" }
            ],
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                // 'csvHtml5',
                // 'pdf',
                'print',
                // 'colvis'
            ],
            responsive: true
        });

        dropdownyear();

        // $("#Qrcode").click(function () {

        //     window.location.replace("qrcode.html");
        // });

    });

    function dropdownyear() {

        $.ajax({
            method: "GET",
            url: "/yearsAssign"
        }).done(function (dataSet, state, xhr) {

            $("#years").empty();
            $("#year").empty();
            for (let i = dataSet.length - 1; i >= 0; i--) {
                let id = dataSet[i].working_year;

                $("#years").append("<option value='" + id + "'>" + id + "</option>");
                console.log()


                // getyear = $('#years').val();
            }
            productadmin();
            console.log(dataSet)
        }).fail(function (xhr, state, error) {
            //get data failed
            alert(xhr.responseText);
        });
    }

    function productadmin() {

        getyear = $('#years').val();

        $.ajax({
            method: "GET",
            url: "/product/status/" + getyear
        }).done(function (dataSet, state, xhr) {

            for (let i = 0; i < dataSet.length; i++) {
                dataSet[i].No = i + 1;
                dataSet[i].locateroom = dataSet[i].location + "-" + dataSet[i].room


                if (dataSet[i].product_status == 0) {
                    dataSet[i].product_status = '<span class="badge badge-danger "style="font-size: 14px;">สูญหาย</span>'
                }
                else if (dataSet[i].product_status == 1) {
                    dataSet[i].product_status = '<span class="badge badge-success "style="font-size: 14px;">ปกติ</span>'
                }
                else if (dataSet[i].product_status == 2) {
                    dataSet[i].product_status = '<span class="badge badge-primary "style="font-size: 14px;">ส่งซ่อม</span>'
                }
                // else if (dataSet[i].product_status == 3) {
                //     dataSet[i].product_status = '<span class="badge badge-dark "style="font-size: 14px;">ไม่ระบุ</span>'
                // }

            }
            console.log(dataSet)
            //clear DataTable
            tableUser.clear();
            //display modified JSON in DataTable
            tableUser.rows.add(dataSet).draw();

            // $('.dt-button.buttons-excel.buttons-html5').addClass('btn')
            // $('.dt-button.buttons-print').addClass('btn')

            // $('#save').on('click', function (e) {
            //     var form = this;
            //     var rows_selected = tableUser.column(0).checkboxes.selected();
            //     let rowdata = rows_selected.join(",")
            //     // alert(getyear);

            //     if (rows_selected.length != 0) {
            //         $.ajax({
            //             method: "PUT",
            //             url: "/takephoto/" + getyear,
            //             data: { year: getyear, records: rowdata }
            //         }).done(function (dataSet, state, xhr) {
            //             window.location.replace("/committee_AssetStatus")
            //         }).fail(function (xhr, state, error) {
            //             console.log(error)
            //         })
            //     } else {
            //         alert("Please select item")
            //     }
            // });

            $("#Qrcode").click(function () {

                var rows_selected1 = tableUser.column(0).checkboxes.selected();
                var dataArray = [];

                if (rows_selected1.length != 0) {

                    $.each(rows_selected1, function (index, value) {
                        dataArray.push(value);
                        // console.log(`${index}: ${value}`);
                    });
                    console.log(dataArray[0]);
                    let jsobject = JSON.stringify(dataArray)
                    sessionStorage.dataArray = jsobject

                    window.open('/qrcode', '_blank');
                } else {
                    // alert("Please select item")
                    swal({
                        title: "กรุณาเลือกข้อมูล",
                        // text: "You will not be able to recover this imaginary file!",
                        type: "info",
                        showCancelButton: false,
                        confirmButtonClass: "btn-primary",
                        // cancelButtonClass: "btn-primary",
                        confirmButtonText: "ตกลง",
                        // cancelButtonText: "ยกเลิก",
                        closeOnConfirm: true,
                        // closeOnCancel: true
                    })
                }
            })

            $("#Barcode").click(function () {
                var rows_selected1 = tableUser.column(0).checkboxes.selected();
                var dataArray = [];
                if (rows_selected1.length != 0) {
                    $.each(rows_selected1, function (index, value) {
                        dataArray.push(value);
                        // console.log(`${index}: ${value}`);
                    });
                    console.log(dataArray[0]);
                    let jsobject = JSON.stringify(dataArray)
                    sessionStorage.dataArray = jsobject

                    window.open('/barcode', '_blank');
                } else {
                    // alert("Please select item")
                    swal({
                        title: "กรุณาเลือกข้อมูล",
                        // text: "You will not be able to recover this imaginary file!",
                        type: "info",
                        showCancelButton: false,
                        confirmButtonClass: "btn-primary",
                        // cancelButtonClass: "btn-primary",
                        confirmButtonText: "ตกลง",
                        // cancelButtonText: "ยกเลิก",
                        closeOnConfirm: true,
                        // closeOnCancel: true
                    })
                }
            })

            // $('#input711000100142038').click(function () {
            //     //     if(this.checked){
            //     //     alert("ggg");
            //     // }
            //     alert("sdfsf")
            // })
        }).fail(function (xhr, state, error) {
            //get data failed
            alert(xhr.responseText);
        });
    }

</script>

</html>