<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <title>การตรวจสอบและนับครุภัณฑ์</title>
    <style>
        #log {
            width: 100px;
        }
        
    </style>
</head>

<body>
    <!-- Header -->
    <div>
        <div class="row">
            <div class="col-11">
                <img src="C:\Users\User\Desktop\Final_UI\รูปที่ใช้/LOGO.png" alt="LOGO" style="width: 450px;">
            </div>
            <div class="col-1">
             
                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="account.png"  id="log" class="user-avatar-md rounded-circle"></a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <p class="mb-0 text-dark nav-user-name text-center"> ธิดาพร​ ชาวคูเวียง</p>
                        
                    </div>
                
                    <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                </div>
            </li>
            </div>
        </div>

    </div>
    <!-- Header -->

    <!-- Menu -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #253b6d;">
            <a class="navbar-brand ml-5" href="#"></a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active ml-5">
                        <a href="หน้าแรกกรรมการ.html" class="nav-link text-light">หน้าแรก</a>
                    </li>
                    
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="สถานะครุภัณฑ์กรรมการ.html">สถานะครุภัณฑ์</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="btn btn-rounded btn-light  " href="ประวัติกรรมการ.html">คณะกรรมการประจำปี</a>
                        
                    </li>
                    <li class="nav-item ml-5">
                        <a class=" nav-link text-light " href="วันที่กรรมการ.html">เวลาการตรวจสอบครุภัณฑ์</a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>
    <!-- Menu -->
    <div class="container">

        <div class="mt-5 container" id="table">
            <div>
                <table class="table table-striped table-hover">

               

                    <thead id="q">
                        <tr>
                            <th>รูปภาพ</th>
                            <th>รายชื่อคณะกรรมการ</th>
                            <th>อีเมลล์</th>
                            <th>เบอร์โทรศัพท์</th>
                       
                        </tr>
                    </thead>
                    <tr>
                        <td>--</td>
                        <td>สมใจ จะแล้วไหม</td>
                        <td>somjai@mfu.ac.th</td>
                        <td>087-894-5214</td>
                    

                    </tr>
                    <tr>
                        <td>--</td>
                        <td>สมชัย ตามหาดี</td>
                        <td>somchai@mfu.ac.th</td>
                        <td>087-894-5214</td>
                        
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>สมหวัง หากะลา</td>
                        <td>somwang@mfu.ac.th</td>
                        <td>087-894-5214</td>
                        
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>สายป่าน หลงป่า</td>
                        <td>saipan@mfu.ac.th</td>
                        <td>087-894-5214</td>
                      
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>ธิดาพร ชาวคูเวียง</td>
                        <td>tidapon@mfu.ac.th</td>
                        <td>087-894-5214</td>
                        
                    </tr>


                </table>



            </div>
        </div>
    </div>
<br><br><br><br><br>


            <!-- Footer -->
            <div class="mt-5">
                <footer class="page-footer font-small blue " style="background-color: #253b6d;">

                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3 text-light">© 2020 POWERSOL</div>
                    <!-- Copyright -->
    
                </footer>
            </div>
            
            <!-- Footer -->

</body>

</html>