<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <title>การตรวจสอบและนับครุภัณฑ์</title>
</head>
<script>
    window.onload = function () {

    }
    $(document).ready(function () {
        loadpage();
        function loadpage() {
            $.ajax({
                method: "GET",
                url: "/product/countstatus",
            }).done(function (data, state, shr) {

                let normal = "";
                let missing = "";
                let maintain = "";
                let other = "";
                normal = "<h2 class='card-text'>" + data[0].normal + " รายการ</h2>"
                missing = "<h2 class='card-text'>" + data[0].missing + " รายการ</h2>"
                maintain = "<h2 class='card-text'>" + data[0].repair + " รายการ</h2>"
                other = "<h2 class='card-text'>" + data[0].other + " รายการ</h2>"

                let all = "";
                let allNum = Number(data[0].normal + data[0].missing + data[0].repair + data[0].other);
                all = "<h2 class='card-text'>" + allNum + " รายการ</h2>";

                $("#normal").html(normal);
                $("#missing").html(missing);
                $("#maintain").html(maintain);
                $("#other").html(other);
                $("#all").html(all);


                // ----Chart canvas----
                // var countn = Number(data[0].normal);
                // var countm = Number(data[0].missing);
                // var countr = Number(data[0].repair);
                // var counto = Number(data[0].other);
                // var options = {
                //     title: {
                //         text: "แผนภูมิสถานะครุภัณฑ์ ประจำปี 2563"
                //     },
                //     data: [
                //         {
                //             // Change type to "doughnut", "line", "splineArea", etc.
                //             type: "column",
                //             dataPoints: [
                //                 { label: "ปกติ", y: countn },
                //                 { label: "สูญหาย", y: countm },
                //                 { label: "ส่งซ่อม", y: countr },
                //                 { label: "ไม่ใช่ของสำนัก", y: counto }

                //             ]
                //         }
                //     ]
                // };

                // $("#chartContainer").CanvasJSChart(options);

                //highchart
                var countn = Number(data[0].normal);
                var countm = Number(data[0].missing);
                var countr = Number(data[0].repair);
                var counto = Number(data[0].other);
                Highcharts.chart('highchart', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Amount of stuff in inventory'
                    },
                    subtitle: {
                        text: 'ข้อมูลคุรุภัณฑ์ของสำนักวิชาเทคโนโลยีสารสนเทศ'
                    },
                    xAxis: {
                        categories: [
                            'item'
                        ],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'amount of item (จำนวนคุรุภัณฑ์)'
                        }
                    },
                    tooltip: {

                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Normal',
                        data: [countn],
                        color: '#4f81bc'

                    }, {
                        name: 'Missing',
                        data: [countm],
                        color: '#c0504e'

                    }, {
                        name: 'Repair',
                        data: [countr],
                        color: '#9bbb58'

                    }, {
                        name: 'Other',
                        data: [counto],
                        color: '#23bfaa'

                    }]
                });

            }).fail(function (xhr, state) {

            });
        }
    });
</script>
<style>
    #log {
        width: 100px;
    }
</style>


<body>
    <!-- Header -->

    <div>
        <div class="row">
            <div class="col-11">
                <img src="../img/banner.png" alt="LOGO" style="width: 450px;">
            </div>
            <div class="col-1">
                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img src="../img/account.png" id="log"
                        class="user-avatar-md rounded-circle"></a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                    aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <p class="mb-0 text-dark nav-user-name text-center"> ธิดาพร​ ชาวคูเวียง</p>

                    </div>

                    <a class="dropdown-item" href="#" id="logout"> <i class="fas fa-power-off mr-2"></i>Logout</a>
                </div>
                </li>
            </div>

        </div>
    </div>
    </div>

    <!-- Header -->


    <!-- Menu -->

    <div>
        <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #253b6d;">
            <a class="navbar-brand ml-5" href="#"></a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active ml-5">
                        <a href="/committeefirstpage" class="btn btn-rounded btn-light  ">หน้าแรก</a>
                    </li>

                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="/committee_AssetStatus">สถานะครุภัณฑ์</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light " href="/committeeBiodata">คณะกรรมการประจำปี</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class=" nav-link text-light " href="/periodOfCheckingAsset">เวลาการตรวจสอบครุภัณฑ์</a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>

    <!-- Menu -->

    <!-- Status -->
    <div class="ml-5 mt-3">
        <div class="row ">
            <div class="mr-5"></div>
            <div class="col-2 ml-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ปกติ</h4>
                        <h2 id="normal" class="card-text"></h2>
                        <a href="#" class="btn btn-primary" style="background-color: #4f81bc;">พิมพ์สรุป</a>
                    </div>
                </div>
            </div>
            <div class="col-2 ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">สูญหาย</h4>
                        <h2 id="missing" class="card-text"></h2>
                        <a href="#" class="btn btn-primary " style="background-color: #c0504e;">พิมพ์สรุป</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ส่งซ่อม</h4>
                        <h2 id="maintain" class="card-text"></h2>
                        <a href="#" class="btn btn-primary" style="background-color: #9bbb58;">พิมพ์สรุป</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ไม่ใช่ของสำนัก</h4>
                        <h2 id="other" class="card-text"></h2>
                        <a href="#" class="btn btn-primary" style="background-color: #23bfaa;">พิมพ์สรุป</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ทั้งหมด</h4>
                        <h2 id="all" class="card-text"></h2>
                        <a href="#" class="btn btn-primary">พิมพ์สรุป</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Status -->


    <!-- แผนภูมิ -->

    <!-- <div class="mt-3" id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->

    <div class="container-fluid mt-5" style="width: 80%;">
        <div id="highchart" style="height: 450px"></div>
    </div>


    <!-- แผนภูมิ -->

    <!-- Footer -->
    <footer class="page-footer font-small blue fixed-bottom" style="background-color: #253b6d;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2020 POWERSOL</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>

</html>