<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ข้อมูลครุภัณฑ์แอดมิน</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <!-- <link rel="stylesheet" href="landingpage.css"> -->
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

</head>



<style>
    .dot1 {
        height: 10px;
        width: 10px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block;
    }

    .dot2 {
        height: 10px;
        width: 10px;
        background-color: lightseagreen;
        border-radius: 50%;
        display: inline-block;
    }

    .dot3 {
        height: 10px;
        width: 10px;
        background-color: yellow;
        border-radius: 50%;
        display: inline-block;
    }

    #Qrcode {
        width: 130px;
    }

    #barcode {
        width: 130px;
    }

    #insert {
        width: 100px;
        height: 35px;
    }

    #years {
        height: 35px;
        width: 90px;
    }

    #year {
        /* height: 25px; */
        width: 85px;
    }

    .modal-header,
    h3 {
        background-color: #dc3545;
        color: white;
    }
</style>



<body>
    <!-- ============================================================== -->

    <!-- Header -->
    <div>
        <div class="row">
            <div class="col-11">
                <img src="../img/banner.png" alt="LOGO" style="width: 450px;">
            </div>
            <div class="col-1">

                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img src="../img/account.png" style="width:100px ;"
                        id="log" class="user-avatar-md rounded-circle"></a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                    aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <p class="mb-0 text-dark nav-user-name text-center"> ธิดาพร​ ชาวคูเวียง</p>

                    </div>

                    <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                </div>
                </li>
            </div>
        </div>

    </div>
    <!-- Header -->

    <!-- Menu -->
    <div>

        <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #fe0000;">
            <a class="navbar-brand ml-5" href="#"></a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active ml-5">
                        <a class="nav-link text-light" href="หน้าแรกแอดมิน.html">หน้าแรก</a>
                    </li>
                    <li class="nav-item ml-5 ">
                        <a href="#" class="btn btn-rounded btn-light ">ข้อมูลครุภัณฑ์</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="สถานะครุภัณฑ์แอดมิน.html">สถานะครุภัณฑ์</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light " href="ประวัติกรรมแอดมิน.html">ประวัติการทำงาน</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light " href="เพิ่มคณะกรรมการ.html">เพิ่มคณะกรรมการ</a>
                    </li>



                </ul>
            </div>
        </nav>
    </div>
    <!-- Menu -->


    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- basic table  -->
    <!-- ============================================================== -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:20px 40px;">
                    <h3><span class="glyphicon glyphicon-lock"></span> นำเข้าข้อมูล</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form id="upexcel" action="/uploadfile"  method="POST" enctype="multipart/form-data">
                        <!-- action="/uploadfile" -->
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span>ไฟล์ :</label>
                        <br>
                        <input class="form-control" type="file" name="fileUpload" style="border: none;">
                        <br>

                        <label for="year"><span class=" glyphicon glyphicon-eye-open mt-2"></span>ปี</label>
                        <br>
                        <input type="text" id="yearmodal">
                        <button class="btn btn-primary " id="btnupload" type="submit">บันทึก</button>
                        <button class="btn btn-danger "><span class="glyphicon glyphicon-off "></span>ยกเลิก</button>

                    </form>
                    <!-- <form action="/convertexcel" method="POST">
                    <button class="btn btn-primary">sdfsf</button>
                    </form> -->
                </div>

            </div>

        </div>
    </div>







    <div class="container-fluid my-5">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-10 text-left">
                <div class="">
                    <h2>ข้อมูลครุภัณฑ์​ ประจำปี​ 2563</h2>
                </div>
            </div>
            <div class="col-md-1" style="text-align: right;">
                <div class="ml-2">
                    <button id="insert" class="btn btn-danger float-right mb-2 mb-3 mr-3"> นำเข้าข้อมูล</button>
                </div>
            </div>
            <div class="col-md-1 " style="text-align: right;">
                <select id="years" class=" form-control float-right mb-2 mb-3 mr-3">
                    <!-- <option value="2020 "> 2563</option>
                    <option value="2019 "> 2562</option>
                    <option value="2018 "> 2561</option>
                    <option value="2017 "> 2560</option> -->
                </select>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center">
        <!--Table-->
        <table class="table mt-2" id="mytable" style="width:100%">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>รหัสครุภัณฑ์</th>
                    <th>คำอธิบาย</th>
                    <th>ยี่ห้อ</th>
                    <th>รหัสผลิตภัณฑ์</th>
                    <th>สถานที่</th>
                    <th>วันที่รับรัพย์สิน</th>
                    <th>ราคา</th>
                    <th>Cost Center</th>
                    <th>หน่วยงาน</th>
                    <th>Vendor Name</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- ============================================================== -->
    <!-- end basic table  -->
    <!-- ============================================================== -->

    <!-- Footer -->
    <footer class="page-footer font-small blue " style="background-color: #fe0000;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2020 POWERSOL</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->

</body>

<script>
    
    var tableUser
    date = new Date();
    const year = date.getFullYear();

    $(document).ready(function () {
        var getyear
        dropdownyear();
        // productadmin();

        // getyear = $('#years').val();
        // console.log(getyear)

        $('#yearmodal').val(year);
        $('#yearmodal').prop('disabled', true);


        $('#years').ready(function () {
            getyear = $('#years').val();
            // console.log(getyear)
            productadmin();

        });

        $('#years').change(function () {
            getyear = $('#years').val();
            // console.log(getyear)
            productadmin();
        });


        $("#insert").click(function () {
            $("#myModal").modal();


        });


        var dataSet = [
            {
                "No": "1",
                "desc": "เครื่องถ่ายเอกสาร",
                "brand": "HSM/104.2",
                "location": "E3A-401",
                "status": "ปกติ"

            },
            {
                "No": "2",
                "desc": "โต๊ะ",
                "brand": "-",
                "location": "S7-401",
                "status": "สูญหาย"

            },
            {
                "No": "3",
                "desc": "กล้อง",
                "brand": "fujiXA-2",
                "location": "S7-401",
                "status": "ปกติ"

            },
            {
                "No": "4",
                "desc": "เครื่องถ่ายเอกสาร",
                "brand": "HSM/104.2",
                "location": "E3A-401",
                "status": "ปกติ"

            },
            {
                "No": "5",
                "desc": "โต๊ะ",
                "brand": "-",
                "location": "S7-401",
                "status": "สูญหาย"

            },
            {
                "No": "6",
                "desc": "กล้อง",
                "brand": "fujiXA-2",
                "location": "S7-401",
                "status": "ปกติ"

            },

        ];

        tableUser = $("#mytable").DataTable({
            // data: dataSet,
            // "searching": false,
            // "paging": false,
            "ordering": false,
            "info": false,
            "lengthChange": false,
            deferRender: true,
            columns: [
                // {
                //     data: 'No',
                //     render: function (data, type, full, meta) {
                //         // return '<img src="' + data + '" no-repeat center center /cover >';
                //         return '<img src="' + data + '" no-repeat center center /cover >';
                //         // return image ? `<div style=" background-image: url('${data}') no-repeat center center /cover "></div>` : 'No image';
                //     }
                // },
                { data: "No" },
                { data: "inventorynumber" },
                { data: "description" },
                { data: "model" },
                { data: "serialnumber" },
                { data: "locateroom" },
                { data: "receive_date" },
                { data: "originalvalue" },
                { data: "costcenter" },
                { data: "department" },
                { data: "vendername" },
                // { defaultContent: "<button id='btnPrint' class='btn btn-success'>Print</button> ", orderable: false },
                // { defaultContent: "<button id='view' class='btn btn-primary'>View</button>", orderable: false }
            ],
            responsive: true
        });

        productadmin();

        $('form#upexcel').submit(function () {
            var file = "";
            const formData = new FormData(this);

            $.ajax({
                method: "POST",
                url: "/uploadfile",
                data: formData,
                contentType: false,
                processData: false
            }).done(function (dataSet, state, xhr) {

                file = dataSet
                console.log(file)
                // alert(file)
                // window.location.reload("/productadmin")

                $.ajax({
                    method:"POST",
                    url:"/convertexcel",
                    data:{filename:file}
                }).done(function(dataSet,state,xhr){
                    console.log(dataSet)

                    //TODO: แอดเข้า DB
                    

                }).fail(function(xhr,state,err){

                })


            }).fail(function (xhr, state, err) {
                console.log(err)
            })

        });

    });

    function dropdownyear() {

        $.ajax({
            method: "GET",
            url: "/years"
        }).done(function (dataSet, state, xhr) {

            $("#years").empty();
            $("#year").empty();
            for (let i = dataSet.length - 1; i >= 0; i--) {
                let id = dataSet[i].working_year;

                $("#years").append("<option value='" + id + "'>" + id + "</option>");
                console.log()


            }
            console.log(dataSet)
        }).fail(function (xhr, state, error) {
            //get data failed
            alert(xhr.responseText);
        });
    }

    function productadmin() {

        getyear = $('#years').val();

        $.ajax({
            method: "GET",
            url: "/product/import/" + getyear
        }).done(function (dataSet, state, xhr) {

            for (let i = 0; i < dataSet.length; i++) {
                dataSet[i].No = i + 1;
                // dataSet[i].receive_date=dataSet[i].receive_date.getFullYear();
                dataSet[i].locateroom = dataSet[i].location + "-" + dataSet[i].room
            }
            console.log(dataSet)
            //clear DataTable
            tableUser.clear();
            //display modified JSON in DataTable
            tableUser.rows.add(dataSet).draw();
        }).fail(function (xhr, state, error) {
            //get data failed
            alert(xhr.responseText);
        });
    }


</script>


</html>